<div class="page-header">
  <h1>
    Pics
    <a href="/pics/new" class="btn btn-lg btn-success">New Pic</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>User</th>
        <th>Restaurant</th>
        <th>Actions</th>
      </tr>

      <% @pics.each do |pic| %>
      <tr>
        <td><%= pic.caption %></td>
        <td><%= pic.image %></td>
        <td>
          <% if pic.user.present? %>
            <a href="/users/<%= pic.user.id %>">
              <%= pic.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if pic.restaurant.present? %>
            <a href="/restaurants/<%= pic.restaurant.id %>">
              <%= pic.restaurant.created_at %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/pics/<%= pic.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == pic.user %>
            <a href="/pics/<%= pic.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_pic/<%= pic.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @pics, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
