<div class="page-header">
  <h3>Pic #<%= @pic.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Caption</dt>
      <dd><%= @pic.caption %></dd>

      <dt>Image</dt>
      <dd><%= @pic.image %></dd>

      <dt>User</dt>
      <dd>
        <% if @pic.user.present? %>
          <a href="/users/<%= @pic.user_id %>">
            <%= @pic.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @pic.restaurant.present? %>
          <a href="/restaurants/<%= @pic.restaurant_id %>">
            <%= @pic.restaurant.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pics" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @pic.user %>
        <a href="/pics/<%= @pic.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_pic/<%= @pic.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
